.input {
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}

.h1 {
    font-family: Cormorant Infant, Savoye Let,  Italic;
    font-size: 27px;
    margin-top: 37px;
    padding-bottom: 13px;
    margin-bottom: 0;
}

.ul {
    text-align: initial;
}

.li {
    list-style-type: none ;
    font-family: Cormorant Infant, Savoye Let,  Italic;
    font-size: 20px;
}

.checkbox {
    margin-right: 10px;
}

.drink {
    font-family: Cormorant Infant, Savoye Let,  Italic;
    font-size: 27px;
}

.secondDrink {
    font-family: Cormorant Infant, Savoye Let,  Italic;
    font-size: 15px;
    margin-top: -25px;
}

.button {
    display: inline-grid;
    font-family: Cormorant Infant, Savoye Let,  Italic;
    font-size: 30px;
    background-color: rgba(146, 146, 146, 1);
    margin-bottom: 70px;
    margin-top: 30px;
    width: 263px;
    height: 60px;
    padding-top: 10px;
    color: white;
    border: none;
}
